<div class="formulaire">
    <h2>Se connecter</h2>
    {% for message in get_flashed_messages() %}
        <p class="erreur">{{ message }}</p>
    {% endfor %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email_utilisateur.label }}
            {{ form.email_utilisateur(placeholder="Votre email") }}
            {% for erreur in form.email_utilisateur.errors %}
                <span class="erreur">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(placeholder="Votre mot de passe") }}
            {% for erreur in form.password.errors %}
                <span class="erreur">{{ erreur }}</span>
            {% endfor %}
        </div>
        {{ form.submit() }}
    </form>
</div>