# ----------------------------------------------------------------
# FICHIER DE CONFIGURATION — renomme ce fichier en .env
# Ne jamais commiter le vrai .env dans Git !
# ----------------------------------------------------------------

# Format : postgresql://UTILISATEUR:MOT_DE_PASSE@HOTE:PORT/NOM_BASE

DEBUG=True
SQLALCHEMY_DATABASE_URI=postgresql://UTILISATEUR:MOT_DE_PASSE@HOTE:PORT/NOM_BASE
WTF_CSRF_ENABLE=True
SECRET_KEY=your_secret_key