# ----------------------------------------------------------------
# FICHIER DE CONFIGURATION — renomme ce fichier en .env
# Ne jamais commiter le vrai .env dans Git !
# ----------------------------------------------------------------

# Format : postgresql://UTILISATEUR:MOT_DE_PASSE@HOTE:PORT/NOM_BASE

DEBUG=True
DATABASE_URL=postgresql://UTILISATEUR:MOT_DE_PASSE@HOTE:PORT/NOM_BASE
