# ----------------------------------------------------------------
# FICHIER DE CONFIGURATION — renomme ce fichier en .env
# Ne jamais commiter le vrai .env dans Git !
# ----------------------------------------------------------------

# Format : postgresql://UTILISATEUR:MOT_DE_PASSE@HOTE:PORT/NOM_BASE
#
# UTILISATEUR  → postgres
# MOT_DE_PASSE → trhaa123
# HOTE         → localhost
# PORT         → 5432
# NOM_BASE     → thraa
#
DATABASE_URL=postgresql://postgres:trhaa123@localhost:5432/trhaa
