{% extends "base.html"%}

{% block content %}
<div class="notice">

    {% if pub.titre %}
    <h1>{{ pub.titre }}</h1>
    {% endif %}

    <dl>
        {% if pub.auteur_nom or pub.auteur_prenom %}
        <dt>Auteur</dt>
        <dd>{{ pub.auteur_nom or '' }} {{ pub.auteur_prenom or '' }}</dd>
        {% endif %}

        {% if pub.date_publication %}
        <dt>Date de publication</dt>
        <dd>{{ pub.date_publication }}</dd>
        {% endif %}

        {% if pub.institution %}
        <dt>Lieu de publication</dt>
        <dd>{{ pub.institution }}</dd>
        {% endif %}

        {% if pub.langue %}
        <dt>Langue</dt>
        <dd>{{ pub.langue }}</dd>
        {% endif %}

        {% if pub.typologie %}
        <dt>Typologie</dt>
        <dd>{{ pub.typologie }}</dd>
        {% endif %}

        {% if pub.linkagorha %}
        <dt>Lien Agorha</dt>
        <dd><a href="{{ pub.linkagorha }}" target="_blank">{{ pub.linkagorha }}</a></dd>
        {% endif %}

        {% if pub.linkpublication %}
        <dt>Lien publication</dt>
        <dd><a href="{{ pub.linkpublication }}" target="_blank">{{ pub.linkpublication }}</a></dd>
        {% endif %}
    </dl>

</div>
{% endblock%}