{% extends "base.html" %}

{% block content %}
<div class="notice">

    {% if pub.titre %}
    <h2>{{ pub.titre }}</h2>
    {% endif %}

    {% if pub.auteur_nom or pub.auteur_prenom %}
    <p><strong>Auteur.ice : </strong>{{ pub.auteur_nom or '' }}, {{ pub.auteur_prenom or '' }}</p>
    {% endif %}

    {% if pub.date_publication %}
    <p><strong>Date de publication :</strong> {{ (pub.date_publication)[:4]}}</p>
    {% endif %}

    {% if pub.institution %}
    <p><strong>Université :</strong> {{ pub.institution }}</p>
    {% endif %}

    {% if pub.langue %}
    <p><strong>Langue :</strong> {{ pub.langue }}</p>
    {% endif %}

    {% if pub.typologie %}
    <p><strong>Typologie :</strong> {{ pub.typologie }}</p>
    {% endif %}

    {% if pub.linkagorha %}
    <p><strong>Lien Agorha :</strong> <a href="{{ pub.linkagorha }}" target="_blank">{{ pub.linkagorha }}</a></p>
    {% endif %}

    {% if pub.linkpublication %}
    <p><strong>Lien publication :</strong> <a href="{{ pub.linkpublication }}" target="_blank">{{ pub.linkpublication }}</a></p>
    {% endif %}


</div>
{% endblock%}