<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau résultats</title>
</head>
{% block body %}
<body>
    <table>
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Date de publication</th>
            </tr>
        </thead>
        <tbody>
            {% for r in resultats %}
            <tr>
                <td>{{ r.auteur_nom }}, {{ r.auteur_prenom }}</td>
                <td>{{ r.titre }}</td>
                <td>{{ (r.date_publication or "")[:4] }}</td> <!---J'ai mis [:4] pour avoir uniquement les premiers caractères, soit uniquement la date, sinon ça ne faisait pas très propre et il y a or "" pour ne rien afficher si la date est NULL-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
</html>