<footer>
        <div class="footer">
                <div class="footer_logo">
                        <a href="https://www.chartes.psl.eu/">
                                <img src="{{url_for('static', filename='img/chartes.png')}}" alt="Icon National school of chartes">
                        </a>
                </div>
                <div class="footer-autor">
                        <a href="https://github.com/Anarchiviste/Trhaa_flask">
                                <p>Florent Farfouillon, Jules Musquin, Maud Mélinand et Mélina Franot</p>
                        </a>
                </div>
        </div>
</footer>       