<footer>
        <div class="footer">
                <div class="footer_logo">
                        <a href="https://www.chartes.psl.eu/">
                                <img src="{{url_for('static', filename='img/chartes.png')}}" alt="Icon National school of chartes">
                        </a>
                </div>
                <div class="footer-autor">
                        <a href="{{url_for('logout')}}">
                                <p>Déconnexion</p>
                        </a>
                </div>
        </div>
</footer>       