<header>
    <div class="header">
        <div class="header-logo">
            <a href="{{url_for('home')}}">
                <img src="{{url_for('static', filename='img/hieroglyph.png')}}" alt="website icon">
            </a>
        </div>
        <div class="header-title">
            <a href="{{url_for('home')}}">
                <h1>Trhaa_in</h1>
                <p>Explorer pour mieux comprendre</p>
            </a>
        </div>
            <div class="header-login">
                <div class="header-login-logo">
                    <img src="{{url_for('static', filename='img/user.png')}}" alt="login icon">
                </div>
                <p>Login</p>
            </div>
    </div>
    <div class="navbar">
        <div class="navbutton">
            <a href="{{url_for('home')}}">
                <p>Accueil</p>
                <p class="navbutton-hide">Retour au menu d'accueil</p>
            </a>
        </div>
        <div class="navbutton">
            <a href="{{url_for('home')}}">
                <p>Analyses de Réseaux</p>
                <p class="navbutton-hide">Explorez l'historiographie par sujets</p>
            </a>
        </div>
        <div class="navbutton">
            <a href="{{url_for('home')}}">
                <p>Chronologie</p>
                <p class="navbutton-hide">Explorez l'historiographie par périodes historique</p>
            </a>
        </div>
        <div class="navbutton">
            <a href="{{url_for('home')}}">
                <p>Cartographie</p>
                <p class="navbutton-hide">Explorez l'historiographie par zones géographiques</p>
            </a>
        </div>
        <div class="navbutton">
            <a href="{{url_for('home')}}">
                <p>A propos</p>
                <p class="navbutton-hide">Quelques informations supplémentaires</p>
            </a>
        </div>
    </div>
</header>
