<!DOCTYPE html>
<html lang="fr">
<head>
        {% include "partials/head.html"%}
        {% include "partials/css.html" %}
</head>
<body class="{% block body_class %}{% endblock %}">
        {% include "partials/header.html" %}
        {% block search_bar %}
        {% include "partials/barre_recherche_simple.html" %}
        {% endblock %}
<div class="display">
<main class="display-main">
                {% block content %}{% endblock %}
</main>
            {% block sidebar %}
            {% if options is defined %}
<aside class="sidebar-recherche">
                {% include "partials/formulaires/form_avancee.html" %}
</aside>
            {% endif %}
            {% endblock %}
</div>
        {% include "partials/footer.html" %}
</body>
</html>